<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="A collection of covers from the hamtastic comic book series, Peter Porker: Spider Ham">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://spider-ham.box464.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Peter Porker, the Spectacular Spider-Ham">
        <meta property="og:description" content="A collection of covers from the hamtastic comic book series, Peter Porker: Spider Ham">
        <meta property="og:image" content="https://spider-ham.box464.com/peter_porker.png">
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="spider-ham.box464.com">
        <meta property="twitter:url" content="https://spider-ham.box464.com/">
        <meta name="twitter:title" content="Peter Porker, the Spectacular Spider-Ham">
        <meta name="twitter:description" content="A collection of covers from the hamtastic comic book series, Peter Porker: Spider Ham">
        <meta name="twitter:image" content="https://spider-ham.box464.com/peter_porker.png">

       <link rel="stylesheet" href="/css/pico.min.css">
       <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
        <h1>{{ title }}</h1>
        </header>
        <main>
        {{ content | safe }}
        </main>
        <footer>
            <em>Data provided by <a href="https://comicvine.gamespot.com">ComicVine</a></em>
        </footer>

    </body>
</html>